@import url('https://fonts.googleapis.com/css2?family=Futura:wght@400;700&display=swap');

body {
  margin: 0;
  padding: 0;
  font-family: 'Futura', sans-serif;
  background: #000;
  color: #fff;
  overflow-x: hidden;
}

a {
  text-decoration: none;
  color: inherit;
}
